#readerModal {
    .file-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        video {
            width: 100%;
            aspect-ratio: 16/9;
        }
    }
}