<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Zhen Drive{% endblock %}</title>
        <link rel="icon" href="/favicon.png">
        <link rel="manifest" href="/build/pwa/manifest.json" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
            {{ encore_entry_link_tags('style/main') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </body>
</html>
