<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Zhen Drive{% endblock %}</title>
        <link rel="icon" href="/favicon.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('style/main') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <main id="root"></main>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </body>
</html>
